.header-main {
    text-align: center;
    padding: var(--spacing-large);
    margin-top: 40px;
}

.header-text{
    font-size: var(--font-size-xxxl);
}

@media (max-width: 1000px) {
    .header-text {
      font-size: var(--font-size-xxl);
    }
  }

  @media (max-width: 420px) {
    .header-text {
      font-size: 40px;
    }
  }