.static-data-box-main{
    height: 160px;
    width: 400px;
    margin: 0 16px;
    padding: var(--spacing-medium);
    border-radius: 30px;
}

.static-data-box-main:hover {
    box-shadow: 0 0 20px 5px var(--neon-color); 
}

.static-title-wrapper{
    font-size: var(--font-size-m);
    margin-bottom: 36px;
}

.static-title{
    background-color: var(--bg-2);
    padding: 8px 12px;
    border-radius: 20px;
}

.static-value{
    font-size: var(--font-size-xxl);
    text-align: center;
}

@media (max-width: 900px) {
    .static-data-box-main{
        height: 100px;
        width: 250px;
    }
    .static-title-wrapper{
        font-size: 12px;
        margin-bottom: 24px;
    }
    .static-value{
        font-size: 50px;
    }
}