.static-data-wrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .static-data-wrapper{
        flex-direction: column; 
        gap: 20px; 
        align-items: center;
    }
}