:root {
    /* Colors */
    --bg-1: rgb(33,33,33);
    --bg-2: #000000;
    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgb(155, 155, 155);
  
    /* Font Sizes */
    --font-size-s: 12px;
    --font-size-m: 16px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 66px;
    --font-size-xxxl: 80px;
  
    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
  }